/*-- Шрифты--*/

/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/

/*-- Палитра--*/

/*-- основной цвет #212121--*/
/*-- вторичный цвет #757575--*/
/*--белый цвет #FFFFFF--*/
/*---акцент #2196F3--*/
/*--цвет контактов в футере rgba(255, 255, 255, 0.6) ---*/
/* ----основной цвет фона #FFFFFF---*/
/* ----вторичный цвет фона #F5F4FA---*/

*,
*:before,
*:after {
  outline: 1px solid blue;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --most-view-text-color: #ffffff;
  --accent-color: #2196f3;
  --color-with-transperency: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* ----Лого---*/
.logo {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 85px;
}
.logo:hover,
logo:focus {
  color: var(--accent-color);
}
.logo-accent {
  color: var(--accent-color);
}
/* ----Навигация сайта---*/
.main-nav,
.header {
  align-items: center;
}

.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav a:hover,
site-nav a:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
/* ----Контакты---*/
.flexbox {
  display: flex;
}

.header-contact {
  display: flex;
  margin-left: auto;

  font-style: normal;
  font-weight: 500;
}

.header-contact .item + .item {
  margin-left: 30px;
}

.header-contact .item a {
  color: var(--primary-text-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  line-height: 1.14;
}
.header-contact a:hover,
header-contact a:focus,
.footer-contact a:hover,
footer-contact a:focus {
  color: var(--accent-color);
}

.footer-contact a {
  text-decoration: none;
  font-style: normal;
  color: var(--color-with-transperency);
  background-color: var(--secondary-bg-color);
}

.footer-contact .adress {
  font-weight: 400;
  color: var(--most-view-text-color);
  background-color: var(--secondary-bg-color);
  font-style: normal;
}

b {
  font-weight: 700;
  line-height: 1.14;
  color: var(--most-view-text-color);
  background-color: var(--secondary-bg-color);
  text-transform: uppercase;
}

/* ----Герой---*/
.hero {
  text-align: center;
}

.hero-title {
  color: var(--most-view-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  background: var(--secondary-bg-color);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}
.hero-title + a {
  align-items: center;
  margin-bottom: 200px;
}

/* ----Секции---*/
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* ----Наши преимущества---*/
.advantages {
  padding-top: 94px;
}
.section-title,
.item-title {
  color: var(--title-text-color);
  font-weight: 700;
  margin-top: 0;
}

.advantages-item > .item-title {
  margin-top: 30px;
}
.advantages-item img {
  align-self: ;
}

.item-title {
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.what-doing-list > .what-doing-item h3 {
  text-align: center;
}
.accurate {
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-list {
  display: flex;
}
.advantages-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.advantages-item:nth-child(4n) {
  margin-right: 0;
}

/* ----Чем мы занимаемся---*/
.details {
  color: var(--most-view-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}
.what-doing-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.what-doing-item:nth-child(3n) {
  margin-right: 0;
}

/* ----Наша команда---*/
.team {
  background-color: var(--secondary-bg-color);
  padding-top: 94px;
}
.element-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 30px;
  margin-bottom: 10px;
}
.description {
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 16px;
}
.members {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.members-list > .members h3,
p {
  text-align: center;
}
.members:nth-child(4n) {
  margin-right: o;
}

.social-list {
  display: flex;
  align-items: center;
}
.social-item:first-of-type {
  margin-left: 32px;
}

.social-item {
  width: calc((100% - 94px) / 4);
  margin-right: 10px;
}
.social-item:nth-child(4n) {
  margin-right: 32;
}
.social-item a {
  display: block;
  padding: 12px;
}
.social-item img {
}

/* ----Наши клиенты---*/
.clients {
  margin-top: 94px;
}
/* ----Портфолио--Наши работы---*/
.gallery a {
  text-decoration: none;
  color: inherit;
}

.gallery h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.gallery .lead {
  font-size: 16px;
  line-height: 1.87;
}
.gallery .excerpt {
  font-size: 18px;
  line-height: 1.56;
}
.gallery {
  flex-wrap: wrap;
}
.gallery-list {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.gallery-list:nth-child(3n) {
  margin-right: 0;
}
.gallery-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* ----Кнопки---*/
.button {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}
.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  text-decoration: none;
  padding: 10px 32px;
  min-width: 200px;
}
.filtr-button {
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
}
button:hover,
button:focus {
  color: var(--most-view-text-color);
  background-color: var(--accent-color);
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 94px;
}
.header,
.footer {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
img {
  display: block;
}
